<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>Booklist</title>

</head>

<body>

	<h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
	
	<form th:action="@{logout}" method="post">
		<input type="submit" value="Sign out"/>
		
		
		
	<h1>Books</h1>
	
	</form>
	
	<table>
		<tbody>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Year</th>
				<th>ISBN</th>
				<th>Category</th>
			</tr>
			
			<tr th:each = "book : ${books}">
				<td th:text = "${book.title}">
				<td th:text = "${book.author}">
				<td th:text = "${book.year}">
				<td th:text = "${book.isbn}">
				<td th:text = "${book.category.categoryname}">
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>  	  
			</tr>
			
		</tbody>
	</table>
	
 	<a href="/add">Add a book</a>  
</body>

</html>