<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h2>Create a category</h2>
	<form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
			<label for="category">Category name: </label>
		<input type="text" id="categoryname" th:field="*{categoryname}" />
	
		<input type="submit" class="btn btn-primary" value="Save"></input>
	
	</form>

</body>
</html>